@page
@model SSO.Pages.RoleManagement.RoleManagementModel
@{
}

<div class="container">
    <div class="alert alert-primary border-dark text-center d-flex flex-row justify-content-between">
        <span>@Model.Mode</span>
        <a asp-page="./RolePage" class="">برگشت</a>
    </div>
    @{
        if (Model.Mode.Equals("تعریف کاربر برای این نقش"))
        {
            <div class="row">
                <div>
                    اطلاعات نقش
                </div>
                <div>
                    نمایش کاربر ها و چک باکس
                </div>
            </div>
        }
        else if (Model.Mode.Equals("کاربران این نقش"))
        {
            <div class="row">
                <div class="">
                    <table class="table table-hover text-light">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>نام کاربر</th>
                                <th>فامیلی کاربر</th>
                                <th>نام کاربری</th>
                                <th>ایمیل</th>
                                <th>نام نقش</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.UsersOfRole.Count > 0)
                            {
                                foreach (var item in Model.UsersOfRole)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Name</td>
                                        <td>@item.Family</td>
                                        <td>@item.UserName</td>
                                        <td>@item.Email</td>
                                        <td>@Model.RoleName</td>
                                        <td>
                                            <a class="btn btn-info m-1 rounded">خواندن</a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else if (Model.Mode.Equals("مدیریت دسترسی های این نقش"))
        {
            <div class="row">
                <div>
                    اطلاعات نقش
                </div>
                <div>
                    سرویس ها و منو ها
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="display-1 text-center shadow rounded-5">
                    اطلاعات نقش
                </div>
            </div>
        }
    }
</div>