@page
@model SSO.Pages.UserManagement.ClaimPageModel
@{
    int counter = 0;
}
<div class="container">
    <div class="alert alert-primary d-flex flex-row justify-content-between">
        <a asp-page-handler="AddClaim" class="btn btn-success">جدید</a>
        <a>مدیریت کلیم ها سیستم</a>
    </div>

    <div class=" card-tk ">
        <table class="table table-hover text-light overflow-auto">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Subject</th>
                    <th>Issuer</th>
                    <th>Type</th>
                    <th>Value</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in User.Claims)
                {
                    <tr>
                        <td>@(counter += 1)</td>
                        <td>@item.Subject</td>
                        <td>@item.Issuer</td>
                        <td>@item.Type</td>
                        <td>@item.Value</td>
                        <td>
                            <a asp-page-handler="Remove" class="m-1"><i class="fa fa-trash text-danger"></i></a>
                            <a asp-page-handler="Update" class="m-1"><i class="fa fa-edit text-warning"></i></a>
                            <a asp-page-handler="Read" class="m-1"><i class="fa fa-file text-primary"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

<div class="backdrop-tk  @Model.Style"></div>
<div class="container-fluid tk-modal @Model.Style">
    <div class="row-cols-sm-12  d-flex flex-column justify-content-around  text-light p-2 text-center">
        <div class="alert alert-dark border-dark rounded text-center">@Model.Title</div>
        <div id="BodyContent">
            <div class="">
                <form asp-page="ClaimPage" asp-page-handler="AddClaim" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group p-2 my-2 text-right">
                        <input asp-for="Entity.Id" type="hidden" />
                        <label asp-for="Entity.Type" class="control-label">کلید</label>
                        <input asp-for="Entity.Type" class="form-control" />
                        <span asp-validation-for="Entity.Type" class="text-danger"></span>
                    </div>
                    <div class="form-group p-2 my-2 text-right">
                        <label asp-for="Entity.Value" class="control-label">نام</label>
                        <input asp-for="Entity.Value" class="form-control" />
                        <span asp-validation-for="Entity.Value" class="text-danger"></span>
                    </div>
                    <button class=" btn btn-success bg-gradient shadow mt-2" type="submit">ذخیره اطلاعات</button>
                    <a class="btn btn-danger bg-gradient mt-2 " asp-page="ClaimPage" asp-page-handler="CloseModal">بستن</a>
                </form>
            </div>
        </div>

    </div>
</div>