@page
@model UserPageModel
@{
}

<div style="height:80vh; overflow:auto;" class=" container-fluid d-flex flex-column justify-content-between">
    <div class="row shadow">
        <div class="text-center alert alert-primary border-primary fixed-top d-flex flex-row justify-content-between">
            <a asp-page="./UserManagement" asp-route-id="0"  asp-page-handler="Create" class="btn btn-primary">جدید</a>
            <text>مدیریت کاربران</text>
        </div>
        <div>
            <table class="table table-hover text-center text-light">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>نام</th>
                        <th>فامیل</th>
                        <th>نام کاربری</th>
                        <th>ایمیل</th>
                        <th>رمز</th>
                        <th>تلفن</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Users)
                    {
                        <tr>
                            <th>@item.Id</th>
                            <th>@item.Name</th>
                            <th>@item.Family</th>
                            <th>@item.UserName</th>
                            <th>@item.Email</th>
                            <th>@item.Password</th>
                            <th>@item.Phone</th>
                            <th>
                                <a asp-page="./UserManagement" asp-route-id="@item.Id" asp-page-handler="Update" class="btn btn-warning">ویرایش</a>
                                <a asp-page="./UserManagement" asp-route-id="@item.Id" asp-page-handler="Read" class="btn btn-info">نمایش</a>
                                <a asp-page="./UserManagement" asp-route-id="@item.Id" asp-page-handler="Delete" class="btn btn-danger">حدف</a>
                                <a asp-page="./UserManagement" asp-route-id="@item.Id" asp-page-handler="RolesOfUser" class="btn btn-primary">نقش ها</a>
                                <a asp-page="./UserManagement" asp-route-id="@item.Id" asp-page-handler="Login" class="btn btn-primary">ورود</a>
                            </th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row shadow text-center">
        <a asp-page="./AdminPanel" class="btn btn-dark text-light fixed-bottom p-3">مدیریت کابران</a>
    </div>
</div>