@page "/request"
@using Blazor_Domain_Library.Entities.Test
@using Blazor_WebApi.Components

<PageTitle>ثبت درخواست</PageTitle>

<PageTitle>Weather</PageTitle>

<PageTitle>درخواست جدید</PageTitle>
<TKCard>
    <div class="d-flex flex-column justify-content-between">
        <div class="bg-dark bg-gradient shadow text-light rounded p-4">
            <EditForm Model="Person" OnSubmit="AddOrUpdate">

                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="row">
                    <div class="col-md-4">
                        <div class="p-1">
                            <label class="control-label">نام  </label>
                            <InputText @bind-Value="Person.Name" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="p-1">
                            <label class="control-label">فامیل  </label>
                            <InputText @bind-Value="Person.Family" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="p-1">
                            <label class="control-label">ایمیل  </label>
                            <InputText @bind-Value="Person.Email" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 ">
                        <div class="p-1">
                            <label class="control-label">جنسیت  </label>
                            <InputSelect @bind-Value="Person.Sex" class="form-control">
                                <option value="0" class="form-control">خانم</option>
                                <option value="1" class="form-control">آقا</option>
                            </InputSelect>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="p-1">
                            <label class="control-label">تلفن </label>
                            <InputText @bind-Value="Person.Phone" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 ">
                        <div class="p-1">
                            <label class="control-label">سن  </label>
                            <InputNumber @bind-Value="Person.Age" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="p-1">
                            <label class="control-label">نام کاربری  </label>
                            <InputText @bind-Value="Person.Username" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="p-1">
                            <label class="control-label">رمز کاربری  </label>
                            <InputText @bind-Value="Person.Password" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="p-1">
                            <label class="control-label">تکرار رمز  </label>
                            <InputText @bind-Value="Person.Re_Password" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row text-center justify-content-center">
                    <div class="col-md-3">
                        <div class="p-1">
                            <button type="submit" class="btn btn-success btn-outline-dark text-light mt-2">
                                ذخیره اطلاعات
                            </button>
                        </div>
                    </div>
                </div>

            </EditForm>
        </div>
        <div class="bg-gradient shadow text-light text-center my-3">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>نام</th>
                        <th>فامیلی</th>
                        <th>نام کاربری</th>
                        <th>ایمیل</th>
                        <th>رمز کاربری</th>
                        <th>تلفن</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Datalist)
                    {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.Name</td>
                            <td>@item.Family</td>
                            <td>@item.Username</td>
                            <td>@item.Email</td>
                            <td>@item.Password</td>
                            <td>@item.Phone</td>
                            <td class="d-flex flex-row justify-content-around">
                                <button class="btn btn-warning shadow">ویرایش</button>
                                <button class="btn btn-danger shadow">حذف</button>
                                <button class="btn btn-primary shadow">نمایش</button>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</TKCard>




@code {
    public List<Person> Datalist = new List<Person>();
    public Person Person = new Person();

}

@functions {
    void AddOrUpdate()
    {
        Datalist.Add(Person);
    }

}