@page
@model SSO.Pages.Admin.RolePageModel
@{
}
<style>
    .btn-tk {
        width: 150px;
        border-radius: 1rem;
        margin:0.3px;
    }
</style>

<div style="height:80vh; overflow:auto;" class=" container-fluid d-flex flex-column justify-content-between">
    <div class="row shadow">
        <div class="text-center alert alert-primary border-primary fixed-top d-flex flex-row justify-content-between">
            <a asp-page="./RoleManagement" asp-route-id="0" asp-page-handler="Create" class="btn btn-primary">جدید</a>
            <text>مدیریت نقش کاربران</text>
        </div>
        <div>
            <table class="table table-hover text-center text-light">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>نام</th>
                        <th>توضیحات</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Roles)
                    {
                        <tr>
                            <th>@item.Id</th>
                            <th>@item.Name</th>
                            <th>@item.Description</th>
                            <th>
                                <a asp-page="./RoleManagement" asp-route-id="@item.Id" asp-page-handler="Update" class="btn-tk btn btn-warning bg-gradient">ویرایش</a>
                                <a asp-page="./RoleManagement" asp-route-id="@item.Id" asp-page-handler="Read" class="btn-tk btn btn-info bg-gradient">نمایش</a>
                                <a asp-page="./RoleManagement" asp-route-id="@item.Id" asp-page-handler="Delete" class="btn-tk btn btn-danger bg-gradient">حدف</a>
                                <a asp-page="./RoleManagement" asp-route-id="@item.Id" asp-page-handler="AddRoleToUser" class="btn-tk btn btn-primary bg-gradient">معرفی به کاربران</a>
                                <a asp-page="./RoleManagement" asp-route-id="@item.Id" asp-page-handler="UsersOfRole" class="btn-tk btn btn-info bg-gradient">کاربران این نقش</a>
                                <a asp-page="./RoleManagement" asp-route-id="@item.Id" asp-page-handler="Privilege" class="btn-tk btn btn-dark bg-gradient">مدیریت دسترسی</a>
                            </th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @if (@ViewData["Errors"] != null)
    {
        <div class="alert alert-danger">@ViewData["Errors"]</div>
    }
    <div class="row shadow text-center">
        <a asp-page="./AdminPanel" class="btn btn-dark text-light fixed-bottom p-3">مدیریت کابران</a>
    </div>
</div>
