@page "/reports"
@using Client_Service_GEN.Bases.Model
@using Client_Service_GEN.Models
@using Client_Service_GEN.Repositories

@inject IPersonRepository userService;

<PageTitle>گزارشات</PageTitle>

<p>اطلاعات کاربری</p>

@if (DataList.Data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>آیدی</th>
                <th>نام</th>
                <th>فامیل</th>
                <th>ایمیل</th>
                <th>رمز حساب</th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in DataList.Data)
            {
                <tr>
                    <td>@forecast.ID</td>
                    <td>@forecast.Name</td>
                    <td>@forecast.Family</td>
                    <td>@forecast.Email</td>
                    <td>@forecast.Password</td>
                    <td>
                        <button class="btn btn-warning shadow rounded">ویرایش</button>
                        <button class="btn btn-primary shadow rounded">مشاهده</button>
                        <button class="btn btn-danger shadow rounded">حذف</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    Result<List<Person>> DataList = new Result<List<Person>>();
    protected override async Task OnInitializedAsync()
    {
        DataList.Data = userService.GetAll().ToList();
    }

}
