@page "/user/{ID}"
@using Client_Service_GEN.Models
@using Client_Service_GEN.Repositories

@inject IUserRepository _userService;

@if (Model == null)
{
    <div class="container text-center">
        <div class="alert alert-danger border-dark p-5 my-5">اطلاعات کاربر مورد نظر یافت نشده است</div>
    </div>
}
else
{
    <div class="container text-center">
        <PageTitle>اطلاعات کاربر</PageTitle>
        <div class="row">
            <div class="alert alert-dark">@Model.Email</div>
        </div>
        <div class="row">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>نام</th>
                        <th>فامیل</th>
                        <th>ایمیل</th>
                        <th>تصویر</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.ID</td>
                        <td>@Model.Name</td>
                        <td>@Model.Family</td>
                        <td>@Model.Email</td>
                        <td>
                            <img style="height:100px; width:150px;" src="./Files/Upload/@Model.Picture" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            Data
        </div>
    </div>

}

@code {
    public UserModel Model { get; set; }

    [Parameter]
    public string ID { get; set; }

    protected override void OnInitialized()
    {
        if ( !string.IsNullOrEmpty(ID))
        {
            Model = _userService.Get(Convert.ToInt32(ID));
        }
        base.OnInitialized();
    }
    protected override void OnParametersSet()
    {
        if (!string.IsNullOrEmpty(ID))
        {
            Model = _userService.Get(Convert.ToInt32(ID));
        }
        base.OnParametersSet();
    }
}
