@page "/user"
@using Client_Service_GEN.Models
@using Client_Service_GEN.Repositories
@inject IPersonRepository _userService;
<PageTitle>کاربران</PageTitle>

<div class="contianer">
    <div class="alert alert-primary p-2 shadow">نمایش اطلاعات کاربران</div>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>نام</th>
                    <th>فامیل</th>
                    <th>ایمیل</th>
                    <th>رمز کاربری</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Datalist)
                {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.Name</td>
                        <td>@item.Family</td>
                        <td>@item.Email</td>
                        <td>@item.Password</td>
                        <td>
                            <button @onclick="() => Update(item.ID)" class="btn btn-warning shadow">ویرایش</button>
                            <button @onclick="() => Delete(item.ID)" class="btn btn-danger shadow">حذف</button>
                            <button @onclick="() => Read(item.ID)" class="btn btn-primary shadow">نمایش</button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

    <div class="row shadow p-2 my-3 rounded d-flex flex-row justify-content-center align-items-center text-center">
        <input @bind="User.Name" name="Name" placeholder="نام خود را وارد کنید ..." class="form-control my-2 w-25" />
        <input @bind="User.Family" name="Family" placeholder="فامیلی خود را وارد کنید ..." class="form-control my-2 w-25" />
        <input @bind="User.Email" name="Email" placeholder="ایمیل خود را وارد کنید ..." class="form-control my-2 w-25" />
        <input @bind="User.Password" name="Password" placeholder="رمز خود را وارد کنید ..." class="form-control my-2 w-25" />
        <button @onclick="CreateUser" class="btn btn-success px-3 w-25">ذخیره اطلاعات</button>
    </div>
    <div class="row d-flex flex-row flex-wrap justify-content-center shadow my-3 rounded p-2">
        <span class="bg-info text-center text-light"> @Result </span>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        Datalist = _userService.GetAll().ToList();
        User = new Person();
        base.OnInitialized();
    }

    List<Person> Datalist;
    public Person User { get; set; }

    public string Result { get; set; }
}
@functions {
    public void CreateUser()
    {
        _userService.AddOrUpdate(User);
        User = new Person();
    }

    public void Update(long id)
    {
        User = _userService.Get(id);
        Result = "عملیات ویرایش با موفقیت انجام شده است";
    }
    public void Delete(long id)
    {
        _userService.Remove(id);
        Result = "عملیات حذف با موفقیت انجام شده است";
    }
    public void Read(long id)
    {
        Result = "عملیات خواندن با موفقیت انجام شده است";
    }
}
